name: 游 Gerar vers칚o autom치tica para o PWA

on:
  push:
    branches:
      - main  # ou 'master', se o seu reposit칩rio usar esse nome

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 游 Clonar reposit칩rio
        uses: actions/checkout@v4

      - name: 游 Criar arquivo version.json
        run: |
          echo "{ \"build\": \"$(date +'%Y%m%d%H%M')\", \"data\": \"$(TZ='America/Sao_Paulo' date +'%d/%m/%Y, %Hh%M')\" }" > version.json
          cat version.json

      - name: 游 Commit e Push do version.json
        run: |
          git config user.name "GitHub Action"
          git config user.email "actions@github.com"
          git add version.json
          git commit -m "游빔 Vers칚o autom치tica atualizada: $(date +'%Y-%m-%d %H:%M')"
          git push
